html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: burlywood;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  canvas {
    border: 1px solid black;
  }