*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
#GCanvas{
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    transform: translate(-50%, -50%);
    top:50%;
    left:50%;
    background-color: rgb(142, 218, 250);
}

img{
    display: none;
}

#copy{
    position: absolute;
    color: black;
    top: 95vh;
    left: 39vw;
}