*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#GCanvas{
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    transform: translate(-50%, -50%);
    top:50%;
    left:50%;
}
img{
    display: none;
}